{% extends 'tracker/base.html' %}
{% load static %}
{% block content %}

<h1>Expense Tracker</h1>
<div class="container">
  <div class="header">
    <img src="{% static 'images/calculator.jpg' %}" alt="Expense Tracker" />
    <div class="balance-container">
      <h2>Your Balance</h2>
      <h2 id="balance" class="balance">
        <i class="fa-solid fa-indian-rupee-sign"></i> {{ current_balance.balance }}
      </h2>
    </div>
  </div>

  <div class="inc-exp-container">
    <div>
      <h4>Income</h4>
      <p id="money-plus" class="money plus">
        <i class="fa-solid fa-indian-rupee-sign"></i> {{ income }}
      </p>
    </div>
    <div>
      <h4>Expenses</h4>
      <p id="money-minus" class="money minus">
        <i class="fa-solid fa-indian-rupee-sign"></i> {{ expense }}
      </p>
    </div>
  </div>



  <h3>History</h3>

  <ul id="list" class="list">
    {% for transaction in transactions %}
    <li class="{% if transaction.expense_type == 'Debit' %} minus {% else %} plus {% endif %}">
      {{ transaction.description }}
      <span>{{ transaction.amount }}</span>
      <a class="delete-btn" href="#" data-url="{% url 'delete-transaction' transaction.id %}">
        <i class="fa-solid fa-circle-xmark"></i>
      </a>
    </li>
    {% endfor %}
  </ul>


  <h3>Add new transaction</h3>

  <form id="form" method="post" action="{% url 'index' %}">
    {% csrf_token %}
    <div class="form-control">
      <label for="text">Description</label>
      <input type="text" name="description" id="text" placeholder="Enter description..." required />
    </div>
    <div class="form-control">
      <label for="amount">Amount <br />
        <small>(-100 = expense, 100 = income)</small></label>
      <input type="number" name="amount" id="amount" placeholder="Enter amount..." required />
    </div>
    <button class="btn" type="submit">Add transaction</button>
  </form>

</div>



{% endblock content %}